@import "tailwindcss";

* {
	margin: 0;
	box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #064929;
	--accent: #D3D34F;
	--light-main: #F2F9ED;
	--secondary: #40AD52;
	--light-green: #AFDD97;

	--foreground20: rgba(6, 73, 41, 0.2);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #064929;
    --foreground: #ededed;
		--accent: #D3D34F;
		--light-main: #F2F9ED;
		--secondary: #40AD52;
		--light-green: #AFDD97;
  }
} */

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: var(--font-sans), sans-serif;
	min-height: 100vh;
}

a {
	cursor: pointer;
}

/* HeroSection dashed decorative lines */
.hero-dash{
	position: absolute;
	border-left: 3px dashed var(--secondary);
	pointer-events: none;
}
.hero-dash.dash-1{ right: 60px; bottom: 0; height: 300px; }
.hero-dash.dash-2{ right: 110px; bottom: 0; height: 220px; }
.hero-dash.dash-3{ right: 160px; bottom: 0; height: 90px; }

/* Adjust heights for small screens (sm and below) */
@media (max-width: 640px){
	.hero-dash.dash-1{ height: 220px; }
	.hero-dash.dash-2{ height: 160px; }
	.hero-dash.dash-3{ height: 60px; }
}

/* Hide decorative dashed lines on very small screens */
@media (max-width: 420px) {
	.hero-dash { display: none !important; }
}


/* Soft wrap for advantages descriptions */
p, span {
	white-space: normal;
	overflow-wrap: anywhere;
	word-break: break-word;
	hyphens: auto;
}

/* Global rule for h2 headings */
h2 {
	font-size: 48px;
	font-weight: 800;
	text-transform: uppercase;
	color: var(--foreground);
	line-height: 1.2;
}

/* Global h4 rule for AdvantagesSection items */
h4 {
	font-size: 28px;
	font-weight: 700;
	color: var(--secondary);
	text-align: center;
	text-transform: uppercase;
	margin: 0.25rem 0;
}

h5 {
	font-size: 36px;
	font-weight: 900;
	line-height: 120%;
	color: var(--secondary);
	text-transform: uppercase;
}

/* Specific override for AdvantagesSection heading */
.advantages-heading {
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--foreground);
  line-height: 1.2;
}

.booking-heading {
	color: #fff;
}

.vk-heading {
	text-align: left;
}

/* MEDIA */
@media(max-width: 1024px) {
	.advantages-heading {
		font-size: 32px;
	}
	h2 {
		font-size: 36px;
	}
	h4 {
		font-size: 24px;
	}
	h5 {
		font-size: 32px;
	}
}

@media(max-width: 520px) {
	.advantages-heading {
		font-size: 24px;
	}
	h2 {
		font-size: 28px;
	}
}


